extend layout
block menu
  ul
    li 
      a(href="#") Contact
    li 
      a(href="#") About
    li 
      a(href="#") Collections
    li 
      a(href="#") Sales
    li 
      a(href="#") M&C

block content
  p
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.
    |In construction: this site is to show the results of Mun and Cherry's hunting for deals.


